.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}

.navbar-container {
    max-width: 1200px;
}

.logo {
    width: 129px;
    height: auto;
}

.navbar-nav {
    margin-left: auto;
    align-items: center;
}

.nav-item {
    margin-left: 28px;
}

.nav-link {
    color: #424242 !important;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: color 0.25s ease;
}

.nav-link:hover {
    color: #387ed1 !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.menu-icon i{

    font-size: 24px;

}